
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}
header {
  background: #f08b18;
  color: white;
  padding: 1em;
  text-align: center;
}
input#searchBar {
  width: 90%;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
}
